<div class="card bg-primary-500" fxLayout="row" fxLayout.xs="column">
  <div class="p-4 ml-4" fxFlex="none" fxFlexAlign="center">
    <img src="assets/img/illustrations/checklist.svg" style="height: 168px; width: 152px">
  </div>

  <div class="p-6 text-primary-contrast-500" fxFlex="auto">
    <h2 class="headline m-0">Good Job, Admin!</h2>

    <div class="mt-4" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">Finish all assignment cases</span>
    </div>

    <div class="mt-1" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">45 filtering process</span>
    </div>

    <!-- <div <div class="mt-1" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">Publish version 2.3.3</span>
    </div> -->
  </div>
</div>
